#header-image .contents {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header-image .contents {
    background-image: url(../images/header.jpg);
    background-position-y: -100px;
}

#header-image .contents h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: .25em;
}
#header-image .contents .text {
    color: #fff;
    font-size: 0.9em;
    text-align: center;
    padding: .25em;
}
#header-image .contents  a {
    background: rgba(255, 255, 255, 0.9);
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 3px 0;
    margin: 0 auto;
}

  footer {
    display: block;
  }
  .card-img-top {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}